:root {
  --selexops-offwhite: #F7F2E8;
  --selexops-beige: #D8C4A8;
  --selexops-light-brown: #B28A62;
  --selexops-brown: #5B3A29;
  --selexops-golden-brown: #A87832;
  --selexops-deep-brown: #2B1D15;
}
